// colors of the searchbox you see now:
/*$accentColor = #006938  //uni colour heritage */
/*$accentColorBold = #76bd22 //uni color energy*/
/*$textColor = #2c3e50*/
/*$borderColor = #eaecef*/
/*$codeBgColor = #282c34*/
/*$arrowBgColor = #ccc*/


.page {
    padding-top: 3.6rem;
    text-align: justify;
}

.theme-container {
    .navbar {
        line-height: 2rem;

        &, & .links, & a {
            //background-color:  #fff !important;  // #2e8555, #3eaf7c #006938
            color: #006938;
            border: none;
        }

        & .home-link {
            .logo {
                height: 2rem
                padding-bottom: 0.2rem
                vertical-align: middle
                margin-right: 0
            }
            font-family: 'Liberation Serif', serif
            font-size: 1.5rem;
        }
    }
}

.fullWidth {
    .page {
        padding-top: 3.6rem;
        padding-left: 0;
        padding-bottom: 0;
        height: calc(100vh - 3.6rem);
    }

    .theme-default-content {
        padding: 0;
        margin: 0;
        max-width: none;
        height: 100%;
    }

    footer {
        display: none;
    }
}
	
