// colors of the searchbox you see now:
$backgroundColor = #006938  //uni colour heritage
//$backgroundColor = #fff  //white 
$accentColor = #006938 //uni color energy
$accentColorEnergy = #76bd22 //uni color energy
//$textColor = #2c3e50
$textColor = #000
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// width for videos
$videoWidth = 100%
